form {
    width: 500px;
    height: 1350px;
    border-left: 10px solid #006633;
    border-right: 10px solid #FFCC33;
    padding: 10px 0;
    margin: 5px auto;
    background-image: -webkit-linear-gradient(left, #006633 50%, #FFCC33 50%), -webkit-linear-gradient(left, #006633 50%, #FFCC33 50%);
    background-image: -moz-linear-gradient(left, #006633 50%, #FFCC33 50%), -moz-linear-gradient(left, #006633 50%, #FFCC33 50%);
    background-image: -o-linear-gradient(left, #006633 50%, #FFCC33 50%), -o-linear-gradient(left, #006633 50%, #FFCC33 50%);
    background-image: linear-gradient(to right, #006633 50%, #FFCC33 50%), linear-gradient( right, #006633 50%, #FFCC33 50%);
    background-position: 0 0, 0 100% ;
    background-repeat: no-repeat;
    background-size: 100% 10px;
  }
  
.background-img{
    background:url("logotest.jpeg");
    width:50px;
    height:50px; 
    position: fixed;
    right:10px;
    bottom:10px;
    background-size: 100% 100%;
}

